
# General project-specific ignores
# Object files
# PC port
**/.DS_Store
*.bak
*.dump
*.elf
*.gba
*.o
*.sav
.DS_Store
.vscode/*
__pycache__/
build/*
build_pc/
build_win/
ctx.c
dist/
third_party/
tools/agbcc/*
